.headerWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 5px;

  .titleWrapper {
    display: flex;
    flex-direction: column;
  }
}
.list {
  margin-top: 3rem;
}
